/* BASE
============================================================================ */

::selection {
    background: $color-primary;
    color: $color-font-light;
}

html {
    font-size: $font-size-default;
}

html,
body {
    text-rendering: optimizeLegibility;
}

body {
    max-height: 100%;
    background-color: #e8e5dc;
    color: $color-font-base;
    font-family: $font-family-primary;
    font-size: $font-size-base;
    line-height: $line-height-base;
}


main {
    min-height: 100vh;
}

.section {
    margin-bottom: 40px;
    border-bottom: 1px solid #d4d1ca;
    padding-bottom: 40px;
}

