// @import "../node_modules/normalize.css/normalize.css";
// $material-icons-font-path: '~material-icons/iconfont/';
// @import '~material-icons/iconfont/material-icons.scss';

// Variables
@import "reset";
@import "~sass-mq/_mq.scss";

$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);


::selection {
    background: #D90479;
    color: #221F26;
}

html {
    font-size: 18px;
}

html,
body {
    text-rendering: optimizeLegibility;
    height: 100%;
}

body {
    max-height: 100%;
    background-color: #221F26;
    color: #8D253B;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__title {
        font-size: 50px;
        font-weight: 200;
        color: #F0F5EE;
        margin-bottom: 50px;

        span  {
            font-weight: 600;
            color: #D90479;
        }

        @include mq($until: tablet) {
            font-size: 40px;
        }
    }
}
