
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap" rel="stylesheet">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="BrainMosky">
  <meta http-equiv="content-language" content="de">

  <title>BrainMosky</title>

</head>
<body>

  <main class="main">

    <h1 class="main__title">
        Brain<span>Mosky</span>
    </h1>

  </main>

</body>
</html>
